/.idea/

/init/secret.md
/init/ips.txt

/init/tf/terraform.tfstate
/init/tf/terraform.tfstate.backup
/init/tf/hcloud_secret.auto.tfvars

/init/metallb/config.yml

/init/kubespray/inventory/mycluster/hosts.yaml
init/kubespray/inventory/mycluster/group_vars/all/floating-ips.yml

/init/test/20_test-ingress.yml

/apps/*

!/apps/mysql/
/apps/mysql/00_secret.yml
/apps/mysql/21_phpmyadmin-ingress.yml

!/apps/wordpress/
/apps/wordpress/00_secret.yml
/apps/wordpress/*ingress*
